importlib-resources==5.1.4
MouseInfo==0.1.3
Pillow==8.2.0
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
pythonnet==2.5.2
PyTweening==1.0.3
pywebview==3.4
pywin32==301
zipp==3.4.1
